<p style="color: green"><%= notice %></p>

<h1>Activities</h1>

<div id="activities">
  <table class="table-auto">
    <tr>
      <th> Name </th>
      <th> Address </th>
      <th> Starts At </th>
      <th> Ends At </th>
      <th> Actions </th>
    </tr>
    <% @activities.each do |activity| %>
      <%= render activity %>
    <% end %>

  </table>
</div>

<%= link_to "New activity", new_activity_path %>
